name: CI

on:
  push:
  pull_request:

env:
  FORCE_COLOR: 2

jobs:
  ci:
    runs-on: windows-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          # We need to get all git revisions for the version number to work
          fetch-depth: 0
          persist-credentials: false

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1

      - name: Build
        run: CALL "build.bat"
        shell: cmd

      - name: Set Version variable
        run: echo "ZOPFLI_VER=$(git describe --tags --long)" >> $GITHUB_ENV
        shell: bash

      - name: Prepare files
        run: |
          mkdir dist
          cp bin/Release_x64/zopflipng.exe COPYING README.zopflipng dist/
        shell: bash

      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: "zopflipng-${{ env.ZOPFLI_VER }}"
          path: dist/
          if-no-files-found: error
